body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Heading {
  margin: 0 auto;
  background: #42b549;
  text-align: center;
  color: #fff;
  padding: 15px 0;
}
.input-ktp {
  position: absolute;
top: 100px;
left: 25%;
margin: 8px 0;
width: 50%;
display: inline-block;
border: 1px solid #ccc;
box-shadow: inset 0 1px 3px #ddd;
border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-left: 20px;
padding-right: 20px;
padding-top: 12px;
padding-bottom: 12px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:0;
    position:relative;
    height:0;
}
.map-responsive #dvMap{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.userListing {
  background: #f3f3f3;
  padding: 10px;
}
.btn {
  cursor : pointer;
  background-color: #00b9f5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
.react-file-reader {
  width: 200px;
    margin: 0 auto;
}
.react-file-reader-button {
  text-align: center;
  margin: 100px auto;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.Dropdown-root {
  position: relative;
}
.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}
.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}
.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: #333333;
  font-weight: bold;
  text-transform: capitalize;
}
.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}
.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}
.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
